---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Re-Vision Digital | Web Agency Sabah">
  <h1 class="text-brand-400 font-display p-8">
    Re-Vision Digital
  </h1>
</MainLayout>